.vitae {
    .content-row {
        padding: 0 35px;
    }

    .header-row {
        padding: 0 20px;
    }

    .right-side {
        text-align: right;
    }

    .role-column {
        padding-left: 30px;
    }

    .spacer {
        height: 10px;
    }

    ul {
        list-style: none;

        li {
            margin-bottom: 4px;
        }
    }
}