$black-darkest: #1a1a1a;
$black: #2a2a2a;
$garnet: #73000A;
$grey: #ccc;
$white: #dcdcdc;
$white-lightest: #f1f1f1;
$white-impossible: #fff;

$android:   #a5ca39;
$browser:   #ed5900;
$ios:       #1cc6fa;
$ios2:      #1c74f9;
$mac:       #aaaaaa;
$windows:   #0078d7;