.ed-tech {
    .anchor {
        position: relative;
        top: -75px;
    }

    .standards-spacer {
        height: 75px;
    }

    .youtube-poster {
        margin-bottom: 1rem;
    }

    ul {
        list-style: none;
    }
}