@import '../../constants/Colors.scss';

#cc-tooltip {
    ul {
        margin: 1rem 0 !important;
        padding: 0;
    
        li {
            list-style: none;
        }
    }
}

.footer-container {
    animation: fadeInFooter 0.3s;
    background-color: $black;
    color: $white;
    font-size: 13px;
    margin: 0 0 25px;
    max-width: 100% !important;
    padding: 5px 0px;

    position: fixed;
    bottom: 0;

    .custom-row {
        display: flex;
        flex-wrap: wrap;
    }
}

.footer-link {
    color: $white;
    text-decoration: underline;
}

.footer-link:hover {
    color: $white-lightest;
    text-decoration: none;
}

.footer-right {
    text-align: right;
}
    
@keyframes fadeInFooter {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}